.search-container {
    &__title {
        padding: 72px 0 16px;
        font-size: 5.6rem;
        line-height: 6.4rem;
    }

    &__subtitle {
        padding-bottom: 48px;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: var(--color-text-secondary);
    }

    .found-books {
        margin-bottom: 74px;
        display: grid;
        grid-gap: 50px 32px;
        grid-template-columns: repeat(3, 1fr);
    }
}