.book-container {
    max-width: 352px;
    display: flex;
    flex-direction: column;

    .cover-wrapper {
        max-height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--color-background-calcareous-sinter);

        &__book-cover {
            left: 63px;
            top: 1px;
            max-width: 226px;
            max-height: 264px;
            border-radius: 0;
        }
    }

    .description-container {
        &__title{
            padding: 20px 8px;
            font-size: 2.4rem;
            line-height: 3.2rem;
        }

        &__subtitle {
            padding-bottom: 40px;
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: var(--color-text-secondary);
        }

        &__price {
            font-family: var(--font-primary);
            font-weight: 700;
            font-style: normal;
            font-size: 2.4rem;
            line-height: 3.2rem;
        }
    }
}