$custom-grey: #E7E7E7;

.signin-form-wrapper {
    .signin-form {
        border: 1px solid $custom-grey;
        margin: 196px 0 204px;

        .top-panel {
            width: 100%;
            display: flex;
            padding: 0 32px;
            justify-content: center;

            &__signin-wrapper,
            &__signup-wrapper {
                padding: 22px 0;
                width: 100%;
            }

            &__signin-wrapper {
                border-bottom: 2px solid #313037;
            }

            &__signin-wrapper__title,
            &__signup-wrapper__title {
                font-weight: 700;
                font-size: 2.4rem;
                line-height: 2.4rem;
                text-align: center;
                letter-spacing: 0.05em;
                text-transform: uppercase;
            }

            &__signup-wrapper__title {
                color: #a8a8a8;
            }
        }

        .authorization-form {
            padding: 32px;
            display: flex;
            flex-direction: column;
            text-align: start;

            &__title {
                font-weight: 700;
                font-size: 1.6rem;
                line-height: 3.2rem;
                color: #313037;
            }

            &__link {
                padding-top: 8px;
                font-size: 1.4rem;
                line-height: 3.2rem;
                font-weight: 500;
                text-align: left;
                color: black;        
            }

            &__action {
                margin-top: 58px;
                padding: 16px 0;
                width: 100%;
                font-size: 2.4rem;
                line-height: 2.4rem;
            }
        }
    }
}
