.books-wrapper {
    width: 100%;
    min-height: 550px;

    &__books {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
        width: 100%;
    }
}

.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

