.signup-form {
    border: 1px solid var(--color-border-pastel-placebo);
    margin: 196px auto 116px;

    .top-panel {
        width: 100%;
        display: flex;
        padding: 0 32px;
        justify-content: center;

        &__signin-wrapper,
        &__signup-wrapper {
            padding: 22px 0;
            width: 100%;
            user-select: none;
        }

        &__signin-wrapper__title,
        &__signup-wrapper__title {
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 2.4rem;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
        }

        &__signup-wrapper__title {
            color: var(--color-text-pure-black);
        }

        &__signup-wrapper {
            border-bottom: 2px solid var(--color-border-system-primary);
        }

        &__signin-wrapper {
            border-bottom: 2px solid transparent;

            &__title {
                color: var(--color-text-secondary);
            }
        }
    }

    .authorization-form {
        padding: 32px;
        display: flex;
        flex-direction: column;

        &__title {
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 3.2rem;
            color: var(--color-text-system-primary);
        }

        &__link {
            padding-top: 8px;
            font-size: 1.4rem;
            line-height: 3.2rem;
            font-weight: 500;
            text-align: left;
            color: var(--color-text-pure-black);        
        }

        &__action {
            margin-top: 58px;
            padding: 16px 0;
            width: 100%;
            font-size: 2.4rem;
            line-height: 2.4rem;
        }
    }
}