.signin-form-wrapper {
    .signin-form {
        margin: 196px 0 204px;
        border: 1px solid var(--color-border-pastel-placebo);

        .top-panel {
            padding: 0 32px;
            width: 100%;
            display: flex;
            justify-content: center;

            &__signin-wrapper {
                border-bottom: 2px solid var(--color-border-system-primary);
            }

            &__signup-wrapper__title {
                color: var(--color-text-secondary);
            }

            &__signin-wrapper,
            &__signup-wrapper {
                padding: 22px 0;
                width: 100%;
                user-select: none;
            }

            &__signin-wrapper__title,
            &__signup-wrapper__title {
                font-weight: 700;
                font-size: 2.4rem;
                line-height: 2.4rem;
                letter-spacing: 0.05em;
                text-align: center;
                text-transform: uppercase;
            }
        }

        .authorization-form {
            padding: 32px;
            display: flex;
            flex-direction: column;
            text-align: start;

            &__title {
                font-weight: 700;
                font-size: 1.6rem;
                line-height: 3.2rem;
                color: var(--color-text-system-primary);
            }

            div + h3 {
                padding-top: 16px;
            }

            &__link {
                padding-top: 8px;
                font-weight: 500;
                font-size: 1.4rem;
                line-height: 3.2rem;
                text-align: left;
                color: var(--color-text-pure-black);
                user-select: none;
            }

            &__action {
                margin-top: 58px;
                padding: 16px 0;
                width: 100%;
                font-size: 2.4rem;
                line-height: 2.4rem;
            }
        }
    }
}
